*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

body{
    background-color: aliceblue;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.contenedor-header{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px black;
    background: url(./img/fondo1.jpg) no-repeat center center/cover;
}

.contenedor-buscar{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


/* Estilos del Buscador */
.img img{
    width: 140px;
    cursor: pointer;
    transition: 0.3s all;
}

.img img:hover{
    transform: scale(1.1);
}

.texto{
    background-color: white;
    color:  rgb(75, 60, 163);
    border-radius: 10px;
    padding: 4px;
    margin-right: 8px;
}

.pokeball{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-pokeball{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-right: 50px;
}

#buscar{
    width: 45px;
    height: 45px;
    border-radius: 150%;
    background-color: black;
    background: url(./img/pokeball.png) no-repeat center center/cover;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s all;
    font-size: 12px;
    animation-name: girarb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

@keyframes girarb {
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(350deg);
    }
}

#buscar:hover{
    width: 50px;
    height: 50px;
    transform: scale(1.3);
   
}


/* Pokémon y stats */

.contenedor-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-bottom: 30px;
}

.section-pokemon{
    margin-top: 30px;
    margin-right: 80px;
}

.section-stats{
    margin-top: 30px;
    height: 445px;
    background: url('./img/stats.PNG') no-repeat center center/cover; border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    color: rgb(53, 53, 53);
    padding: 5px;
}

.section-stats{
    display: flex;
    flex-direction: column;
} 

#pikachu{
    margin-left: 300px;
}

.stats{
    padding-top: 30px;
    margin-bottom: 140px;
}

/* Tarjeta */

.tarjeta{

    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    color: rgb(53, 53, 53);
    padding: 5px;
    background: url(./img/tarjeta.jpg) no-repeat center/cover;
}

.tarjeta-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.tarjeta-header h1{
    padding-top: 120px;
    font-size: 40px;
    width: 100%;
    display: flex;
    padding-right: 40px;
    justify-content: end;
}

.tarjeta-header img{
    width: 220px;
    height: 220px;
    margin-bottom: 120px;
}

.tarjeta-body{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    font-size: 25px;
}

.tarjeta-footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 24px;
    
}


.ataque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 24px;
}

.ataque p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ataque-Esp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 24px;
}


.ataque-Esp p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.defensa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.defensa p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-stats{
    background-color: aquamarine;
    height: 500px;
}



.footer{
    width: 100%;
    height: 60px;
    /* background-color: rgb(95, 197, 192); */
    background-color: rgb(192, 72, 24);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 100%;
}

.copy{
    margin-right: 20px;
    font-size: 14px;
}

.redes a{
    padding: 10px;
    color: white;
}

/* media */


@media (max-width:1093px){
    .tarjeta-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    
    .tarjeta-header img{
        width: 200px;
        height: 170px;
        margin-bottom: 20px;
    }
    .tarjeta-header h1{
        font-size: 35px;
        padding-top: 0px;
    }
    .section-stats{
        margin-top: 30px;
    }
}


@media (max-width: 1010px){  
   
    .tarjeta-header img{
        margin-top: 0px;
        width: 180px;
        height: 180px;
    }
    .tarjeta-header h1{
        font-size: 28px;
        margin-top: 40px;
    }
    .tarjeta-body{
        font-size: 22px;
    } 
    .tarjeta-footer .ataque{
        font-size: 22px;
    }  
    .tarjeta-footer .ataque-Esp{
        font-size: 22px;
    }  
    .tarjeta-footer .defensa{
        font-size: 22px;
    }  
    .section-stats{
        margin-top: 30px;
    }
}

@media (max-width: 890px){
    .contenedor-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .article{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section-pokemon{
        height: 300px;
        width: 100%;
        margin: 0 auto;
        margin-top: 180px;
    }

    .tarjeta{
        height: 445px;
        width: 250px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 1px 2px 4px black;
        padding: 5px;
        background: url(./img/tarjeta.jpg) no-repeat center center/cover;
        margin-bottom: 160px;
    }
    
    .tarjeta-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        margin-top: 105px;
        margin-bottom: 0;
    }
    .tarjeta-header h1{
        width: 100%;
        display: flex;
        padding-right: 25px;
        justify-content: end;
        font-size: 25px;
        padding-top: 80px;
    }
    .tarjeta-header img{
        width: 180px;
        height: 150px;
        margin-bottom: 130px;
        /* background-color: rgb(255, 255, 255);
        border-radius: 100%; */
    }
    
    .tarjeta-body{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 20px;
    }
    
    .tarjeta-footer{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;      
    }
    
    
    .tarjeta-footer .ataque{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }
    
    .tarjeta-footer .ataque-Esp{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }
    
    .tarjeta-footer .defensa{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }

    .tipos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 10px;
        margin-bottom: 25px;
    }

    .tarjeta-body h2{
        background-color: antiquewhite;
        position: absolute;
        font-size: 13px;
        border: 1px solid black;
        width: 70px;
        padding: 2px;
        border-radius:20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-stats{
        margin-top: 5px;
        width: 400px;
        
    }
    .tarjeta-header img{
        margin-bottom: 120px;
    }
    
    .tarjeta-body{
        margin-top: 0px;
    }

    .footer{
        height: 80px;
        display: flex;
        justify-content: center;
    }

    .footer-redes{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        flex-direction: row;
        margin-left: 15px;
    }

}

@media (max-width: 650px){
    .contenedor-buscar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-pokeball{
        margin-right: 0;
    }

    .tipos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 10px;
        margin-bottom: 25px;
    }

    .tarjeta-body h2{
        background-color: antiquewhite;
        position: absolute;
        font-size: 13px;
        border: 1px solid black;
        width: 70px;
        padding: 2px;
        border-radius:20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .tarjeta-header img{
        margin-bottom: 120px;
    }
    
    .tarjeta-body{
        margin-top: 0px;
    }

    .section-stats{
        width: 400px;
        margin-top: 30px;
    }
    
} 

@media (max-width: 580px){
    .tarjeta{
        width: 250px;
    }
    .section-stats{
        width: 280px;
        margin-top: 30px;
    }
    
    #pikachu{
        margin-left: 190px;
    }
    
    .stats{
        padding-top: 20px;
        margin-bottom: 160px;
    }

    .tarjeta-header img{
        margin-bottom: 120px;
    }

    .tarjeta-body{
        margin-top: 0px;
    }
    
}
