*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.contenedor-header{
    background-color:rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px black;
    background: url(./img/fondo1.jpg) no-repeat center center/cover;
}

.contenedor-buscar{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}


/* Estilos del Buscador */
.img img{
    width: 140px;
    cursor: pointer;
    transition: 0.3s all;
}

.img img:hover{
    transform: scale(1.1);
}

.pokeball{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-pokeball{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-right: 50px;
}

#buscar{
    width: 35px;
    height: 35px;
    border-radius: 150%;
    background-color: black;
    background: url(./img/pokeball.png) no-repeat center center/cover;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s all;
}

.texto{
    height: 25px;
    border-radius: 20px;
    padding: 7px;
}

#buscar:hover{
    transform: scale(1.3);
}

/* Pokémon y stats */

.contenedor-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90vh;
    background-color: aqua;
}

.section-pokemon{
    background-color: rgb(130, 196, 130);
}

.section-stats{
    background-color: rgb(131, 131, 233);
}

/* Tarjeta */

.tarjeta{
    height: 440px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    padding: 5px;
    background: url(./img/tarjeta.jpg) no-repeat center center/cover;
}

.tarjeta-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 105px;
}
.tarjeta-header img{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.tarjeta-body{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tarjeta-footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    
}


.ataque{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ataque-Esp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.defensa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}





/* media */

@media (max-width: 454px){
    .contenedor-buscar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-pokeball{
        margin-right: 0;
    }
    
}

@media (max-width: 800px){
    .contenedor-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .article{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
    }

    
/* .tarjeta{
    height: 250px;
    width: 40vh;
    background-color: aqua;
} */
}